---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1> <a href="https://twitter.com/jehanyang"><img border="0" alt="Twitter Link" src="/images/twitter.png" style="width:2.0rem;height:2.0rem;float:right;margin-top:0.2rem;margin-bottom:0" ></a><a href="https://www.linkedin.com/in/jehan-yang-9403b2ba/"><img border="0" alt="Linkedin Link" src="/images/linkedin.png" style="width:2.0rem;height:2.0rem;float:right;margin-top:0.2rem;margin-bottom:0"></a><br>
  {{ content }}
</div>
